<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Golden Horizon Bank</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/281d71e363.js" crossorigin="anonymous"></script>
</head>
<body>
  <!-- navbar Section -->
  <section>
  <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1">Golden Horizon Bank</span>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
      </ul>
    </div>
  </nav>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
   <!-- Features -->
   <section class="white-section" id="features">
    <div class="container-fluid">
    <div class="row">
      <div class="feature-box col-lg-6">
        <a href="/customer"><i class="icon fas fa-users fa-7x"></i></a>
        <h3 class="feature-text">View Customer.</h3>
      </div>

      <div class="feature-box col-lg-6">
        <a href="/customer"><i class="icon fas fa-exchange-alt fa-7x"></i></a>
        <h3 class="feature-text">Transaction</h3>
      </div>
    </div>
    
  </section>
</section>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

  <div class="footer-dark">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 item">
                    <h3>Services</h3>
                    <ul>
                        <li><a href="#">Internet Banking</a></li>
                        <li><a href="#">Low cost EMI Loans</a></li>
                        <li><a href="#">Insurance</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 item">
                    <h3>About</h3>
                    <ul>
                        <li><a href="#">Company</a></li>
                        <li><a href="#">Team</a></li>
                        <li><a href="#">Careers</a></li>
                    </ul>
                </div>
                <div class="col-md-6 item text">
                    <h3>The Horizon Bank</h3>
                    <p>This is the bank you've been looking for !!!.</p>
                </div>
                <div class="col item social"><a href="#"><i class="fab fa-github"></i></a><a href="https://www.linkedin.com/in/ameyaawatade"><i class="fab fa-linkedin"></i></a></div>
            </div>
            <p class="copyright">The Horizon Bank © 2021</p>
        </div>
    </footer>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>

</body>
</html>